---
title: Welcome to STARMAN
---

<div class='alert alert-info'>
  这里是STARMAN的官方主页，我们需要帮手来共同完善文档，如果你对HTML和CSS有一定了解，还是个老GitHuber，可以<a href='https://github.com/dongli/starman/tree/gh-pages'>动起手来</a>！如果你不会，没关系，你可以通过GitHub的<a href='https://github.com/dongli/starman/issues'>issue</a>来汇报问题，这样我们可以共同完善STARMAN！
</div>
<h1>STARMAN具有如下几个独特的地方：</h1>
<div class='row'>
  <div class='col-md-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'><h4>编译器集合</h4></div>
      <div class='panel-body'>
        同一个软件可以被多个编译器集合编译，并分开管理，切换自由。
      </div>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'><h4>远程部署</h4></div>
      <div class='panel-body'>
        服务器不能连接外网？可以在本地操作STARMAN远程安装软件，省去来回搬运软件的痛苦！
      </div>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'><h4>快捷操作</h4></div>
      <div class='panel-body'>
        记不住如何开启PostgreSQL数据库？使用start命令吧，省时又省力！
      </div>
    </div>
  </div>
</div>
